.ui-dialog .ui-dialog-titlebar-close{
	position: relative;
}
.ui-dialog-titlebar-close span{
	margin-left: -8px!important;
	margin-top: -8px!important;
}

.ui-dialog .ui-dialog-title{
	margin:0px!important;
}

#threadForm\:scriptTable_data .noPadding td{
	padding:0px;
}